*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
    text-align: center;
    margin: 0 auto;
    width: 80vw;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.7em;
    text-align: center;
    padding: 30px 0;
    background-color: white;
}

img {
    width: 16vw;
}

.customers {
    color: gray;
    font-size: .75em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
}

.profile {
    width: 20%;
    margin: 10px;
}

.name {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 0 5px 0;
    color: black;
}

.line {
    text-align: center;
    width: 10vw;
    margin: 0 auto;
    border-bottom: 2px solid green;
}

.email {
    color: lightgray;
    padding: 15px;
}

.blur {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
   padding: 10px 0 30px 0;
}